:root {
  cursor: none;
}

button {
  cursor: none;
  pointer-events: none;
}

.cursor {
  position: fixed;
  width: 1.9rem;
  height: 1.9rem;
  pointer-events: "none";
  will-change: transform; /* Для оптимизации анимации */
}
