html,
body {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: white;
}

.w-100 {
  width: 100vw;
}

.h-100 {
  height: 100vh;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 4;
}

.z-6 {
  z-index: 4;
}

.me-1 {
  margin-left: 10px;
}

.me-2 {
  margin-left: 20px;
}

.d-none {
  display: none;
}

.not-allowed-image {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
  -webkit-user-drag: none; /* Chrome, Safari, Opera */
  user-drag: none; /* Standard syntax */
  /* pointer-events: none; */
}
