:root {
  --link: #fff;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
}
.canvas-paint {
  pointer-events: none; 
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: transparent;
}
