version: "3.9"

services:
  php:
    container_name: mysite-php
    build:
      context: .
      dockerfile: Dockerfile.php
    user: root
    volumes:
      - ./site/uploads:${HOST_DIR}/uploads
    # ДЛЯ ОТЛАДКИ:
    # - ./site:${HOST_DIR}
    environment:
      TZ: Europe/Moscow
      # ДЛЯ ОТЛАДКИ (XDEBUG):
      # XDEBUG_MODE: debug
      # XDEBUG_CONFIG: "client_host=host.docker.internal"
      # PHP_IDE_CONFIG: "serverName=localhost"
    # ДЛЯ ОТЛАДКИ (XDEBUG):
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"
    healthcheck:
      test: >
        sh -c "sleep 1s"
      interval: 3s
      timeout: 10s
      retries: 3
    networks:
      - app-network

  nginx:
    container_name: mysite-nginx
    build:
      context: .
      dockerfile: Dockerfile.nginx
    # image: nginx:1.24.0
    ports:
      - "8080:80"
    environment:
      - TZ=Europe/Moscow
    # ДЛЯ ОТЛАДКИ:
    volumes:
      # - ./site:${HOST_DIR}
    #   - ./for_docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    #   - ./for_docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - app-network
    depends_on:
      php:
        condition: service_healthy

networks:
  app-network:
    driver: bridge

volumes:
  docker-data:
