@font-face {
  font-family: "Druzhok"; /* Имя, которое вы будете использовать для шрифта */
  src: url("/src/fonts/DRUZHOK.otf") format("opentype"); /* Укажите путь к вашему .otf файлу */
  /* Добавьте другие форматы, если есть (например, WOFF, WOFF2) */
}

@font-face {
  font-family: "Soyuz Grotesk"; /* Имя, которое вы будете использовать для шрифта */
  src: url("/src/fonts/Soyuz Grotesk Bold.otf") format("opentype"); /* Укажите путь к вашему .otf файлу */
  /* Добавьте другие форматы, если есть (например, WOFF, WOFF2) */
}

:root {
  --main-bg-color: #fff;
  --secondary-bg-color: #000;
  --main-text-color: #000;
  --secondary-text-color: darkred;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
  cursor: none !important;
}

/* ОСНОВА */

body {
  font-family: "Druzhok", sans-serif; /* Применяем шрифт к телу документа */
}

button {
  width: fit-content;
  border: none;
  background: inherit;
  font: unset;
  cursor: none;
  padding: 0;
}

.text {
  font-family: monospace !important;
}

/* РАЗМЕТКА */

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
  justify-content: start;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.overflow-y {
  overflow-y: scroll;
}

.overflow-x {
  overflow-x: scroll;
}

.fixed-panel {
  position: fixed;
  /* z-index: 2; */
  top: 0; /* Расположение сверху */
  left: 0; /* Расположение слева */
  width: 100%; /* Ширина на всю ширину экрана */
}

/* ОТСТУПЫ */

.ms-1 {
  margin-left: 1rem;
}

.me-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ms-2 {
  margin-left: 2rem;
}

.me-2 {
  margin-right: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* WIDTH */

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

/* ТЕКСТ */

.text-main {
  color: var(--main-text-color);
}

.text-secondary {
  color: var(--secondary-text-color);
}

/* КНОПКИ */

.title {
  margin: 0 !important;
  color: var(--main-bg-color);
  font-size: xx-large;
  -webkit-text-stroke: 1px var(--main-text-color); /* Толщина и цвет обводки */
  text-shadow: 1px 1px 2px var(--secondary-bg-color);
  padding: 1.33em 0.5em 1em;
}

.title:hover {
  /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */
}

/* RADIO */

.form_radio_btn {
  position: relative;
  text-decoration: none;
  padding: 2px;
}
.form_radio_btn input[type="radio"] {
  display: none;
}
.form_radio_btn label {
  display: inline-block;
  cursor: none;
  background: inherit;
  user-select: none;
  font-size: large;
  color: var(--main-text-color);
  -webkit-text-stroke: 1px var(--main-text-color);
  padding: 0.4em 0.75em 0.3em;
}
.form_radio_btn label:hover {
  color: var(--main-text-color);
  -webkit-text-stroke: 1px var(--secondary-text-color);
  text-shadow: 1px 1px 2px var(--main-text-color);
}

.form_radio_btn input[type="radio"]:checked + label,
.form_radio_btn input[type="radio"] + label:hover {
  color: var(--main-text-color);
  -webkit-text-stroke: 1px var(--secondary-text-color);
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.link {
  position: relative;
  text-decoration: none;
  outline: none !important;
  color: var(--main-text-color);
  padding: 0.3em 0.75em 0.2em;
}
.link:hover {
  -webkit-text-stroke: 1px var(--secondary-text-color);
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
.link-active {
  -webkit-text-stroke: 1px var(--secondary-text-color);
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
.link:not(:checked):after {
  -webkit-text-stroke: 1px var(--main-text-color);
}
.link:hover:after,
.link:focus,
.link:focus:after,
.link:checked {
  -webkit-text-stroke: 1px var(--secondary-text-color);
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

/*  */

img {
  border-radius: 5px;
  /* cursor: pointer; */
  transition: 0.3s;
  box-shadow: 0px 0px 2px 0px black;
}
.img-saturate-2:hover {
  filter: saturate(2);
}
.img-brightness-1-5:hover {
  filter: brightness(1.5);
}
